/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ALL PAGES */

body {
  font-family: Helvetica;
 }


/* SPLASH PAGE */

.splash-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:#611f69;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

.splash-header-text{
  color: white;
  font-size: 60px;
}

.splash-try-button{
    border-radius: 3px;
    background-color: #fff;
    padding: 25px;
    color: #611f69;
    fill: #611f69;
    text-decoration: none;
    font-size: 15px;
    font-style: bold;
}

.splash-try-button:hover {
  background-color: lightgray;
}

.splash-bold {
  color: darkgoldenrod;
}

.splash-nav-div {
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.header-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 25px;
}

.header-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

/* SIGN IN */

.signin-form-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.signin-header-text {
  font-size: 48px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.signin-button{
  border-radius: 3px;
  background-color: #611f69;
  color: #fff;
  fill: #611f69;
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  padding: 10px;
  padding-left: 180px;
  padding-right: 180px;
  margin-bottom: 10px;
  margin-top: 20px;
}



.demo-user {
  border-radius: 3px;
  background-color: #611f69;
  padding: 25px;
  color: #fff;
  fill: #611f69;
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  padding: 10px;
  padding-left: 162px;
  padding-right: 162px;
  margin-bottom: 40px;
}

/* SIGN UP */

.signup-header-text {
  font-size: 48px;
}

.signup-form-background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signup-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.signup-button {
  border-radius: 3px;
  background-color: #611f69;
  color: #fff;
  fill: #611f69;
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  padding: 10px;
  padding-left: 180px;
  padding-right: 180px;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* SIGN-IN AND SIGN-UP */

.use-work {
  color: #454245;
  padding-bottom: 20px;
}

.email-input {
  border-radius: 3px;
  width: 300px;
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 5px;
  border-color: lightgray;
}

.password-input {
  border-radius: 3px;
  width: 300px;
  margin-left: 10px;
  padding: 5px;
  border-color: lightgray;
}

i {
  font-size: 40px;
  font-family: Helvetica;
  color: goldenrod;
  font-style: bold;
}

.logo-header {
  font-size: 40px;
  font-family: Helvetica;
  color: white;
  font-style: bold;
  text-decoration: none;
  padding-top: 10px;
}

.logo-black {
  font-size: 40px;
  font-family: Helvetica;
  color: black;
  font-style: bold;
  text-decoration: none;
}

.signup-button:hover, .signin-button:hover, .demo-user:hover {
  background-color: #703578;
}

.session-errors {
  text-decoration: none;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.session-errors li {
  border: solid red 1px;
  border-radius: 3px;
  list-style-type: none;
  padding: 5px;
  background-color: pink;
}

/* CLIENT */

.client-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #611f69;
}

.client-channels-messages {
  background-color: yellow;
  display: flex;
  height: 90%;
}

/* NAV BAR */

.nav-bar-header {
  top: 0;
  left: 0;
  display: flex;
  border-bottom: white 1px solid;
  justify-content: space-around;
  background-color: blue;
}


.nav-bar-div {
  display: flex;
  background-color: #611f69;
  flex-direction: row-reverse;
  align-items: flex-end;
  width: 100%;
}

.nav-bar-credentials {
  display: flex;
  align-items: center;
  padding: 5px;
}

.nav-bar-greeting {
  display: flex;
  color: white;
  padding: 5px;
}

.nav-bar-logout {
  border-radius: 5px;
  display: flex;
  background-color: whitesmoke;
  height: 100%;
  border: white;
  padding: 5px;
}

/* MESSAGES */

.message-index-container {
  display: flex;
  width: 100%;
  background-color: white;
}

.message-index-and-create {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
}

.message-index {
  list-style: none;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background-color: white;
}

.create-message-div{
  width: 100%;
}

.create-message-form {
  background-color: blue;
  width: 100%;
  display: flex;
}

.create-message-input {
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 30px;
}

.render-name-message {
  display: flex;
}

.message-index-item-li {
  display: flex;
  width: 100%;
}

.render-name-message * {
  padding: 2px;
  align-self: flex-start;
}

.message-buttons {
  align-self: flex-end;
}

/* COMMENTS */

.comment-index-container {
  display: flex;
  flex-direction: column;
}

.comment-index {
  list-style: none;
  overflow-y: scroll;
  width: 100%;
}

/* CHANNELS */

.channel-sidebar {
  background-color: #611f69;
  width: 20%;
}

.channel-index-item-li {
  list-style: none;
}

.channel-item-link {
  text-decoration: none;
  color: white;
  font-style: bold;
}

.channel-index * {
  padding: 5px;
}

.channel-header {
  display: flex;
}

.channel-header-channels {
  color: white;
}


/* MODALS */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 30;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.channel-close-modal-button {
  align-self: flex-end;
}

.channel-modal-name {
  font-weight: bold;
}

.channel-modal-tab {
  color: gray;
  /* background-color: orange; */
  display: flex;
  justify-content: space-around;
}

.channel-modal-tab * {
  /* background-color: yellow; */
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.channel-modal-tab-about:hover {
  box-shadow: inset 0px -2px green;
}

.channel-modal-tab-settings:hover {
  box-shadow: inset 0px -2px green;
}

.channel-modal-tab-about {
  color: inherit;
}

.channel-modal-tab-settings {
  color: inherit;
  /* background-color: yellow; */
}

.channel-about {
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  align-items: center;
}

.channel-about-form {
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
  /* height: 100%; */
  width: 100%;
  /* padding: 10px; */
}

.channel-about-submit-button {
  width: 20%;
  align-self: flex-end;
}

.channel-settings-delete-button {

}