/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ALL PAGES */

body {
  font-family: Helvetica;
 }


/* SPLASH PAGE */

.splash-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:#611f69;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.splash-header-text{
  color: white;
  font-size: 60px;
}

.splash-button{
    border-radius: 3px;
    background-color: #fff;
    padding: 25px;
    color: #611f69;
    fill: #611f69;
    text-decoration: none;
    font-size: 15px;
    font-style: bold;
}

.splash-button:hover {
  background-color: lightgray;
}

.splash-bold {
  color: darkgoldenrod;
}

/* SIGN IN */

.signin-form-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-header-text {
  font-size: 48px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.signin-button{
  border-radius: 3px;
  background-color: #611f69;
  color: #fff;
  fill: #611f69;
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  padding: 10px;
  padding-left: 180px;
  padding-right: 180px;
  margin-bottom: 10px;
  margin-top: 20px;
}



.demo-user {
  border-radius: 3px;
  background-color: #611f69;
  padding: 25px;
  color: #fff;
  fill: #611f69;
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  padding: 10px;
  padding-left: 162px;
  padding-right: 162px;
  margin-bottom: 40px;
}

/* SIGN UP */

.signup-header-text {
  font-size: 48px;
}

.signup-form-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.signup-button {
  border-radius: 3px;
  background-color: #611f69;
  color: #fff;
  fill: #611f69;
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  padding: 10px;
  padding-left: 180px;
  padding-right: 180px;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* SIGN-IN AND SIGN-UP */

.use-work {
  color: #454245;
  padding-bottom: 20px;
}

.email-input {
  border-radius: 3px;
  width: 300px;
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 5px;
  border-color: lightgray;
}

.password-input {
  border-radius: 3px;
  width: 300px;
  margin-left: 10px;
  padding: 5px;
  border-color: lightgray;
}

i {
  font-size: 40px;
  font-family: Helvetica;
  color: goldenrod;
  font-style: bold;
}

.logo-white {
  font-size: 40px;
  font-family: Helvetica;
  color: white;
  font-style: bold;
  text-decoration: none;
}

.logo-black {
  font-size: 40px;
  font-family: Helvetica;
  color: black;
  font-style: bold;
  text-decoration: none;
}

.signup-button:hover, .signin-button:hover, .demo-user:hover {
  background-color: #703578;
}

.session-errors {
  text-decoration: none;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.session-errors li {
  border: solid red 1px;
  border-radius: 3px;
  list-style-type: none;
  padding: 5px;
  background-color: pink;
}